/* saytimda eng kop uchraydigan stillar*/
body{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.main-button {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    padding: 10px 25px;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
    background-size: 200% auto;
    border: none;
    border-radius: 5px;
}

.main-button:hover{
    background: linear-gradient(to right, #1345e6 0%, #ed239f 0%, #1345e6 100%);
}

.section-header {
    font-weight: 500;
    color: #888;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 700;
}

.section-title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 52px;
}

.header {
    position: fixed;
    background-color: whitesmoke;
    display: block;
    width: 100%;
    top: 0;
    height: 70px;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    z-index: 999;
}

/*header section */
.header-img {
    display: inline-block;
}

.header-img img {
    width: 96px;
}

.navbar-list {
    display: inline-block;
}

.navbar-list li {
    display: inline-block;
    margin-right: 10px;
}

.navbar-list a {
    text-decoration: none;
    font-size: 18px;
    color: #05364d;
}

.active {
    color: #efb6df !important;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* footer */ 

.footer{
    margin-top: 50px;
    background-color: #021017;
    padding: 80px 50px;
}

.footer-logo{
    text-align: center;
}

.footer-links{
    list-style: none;
    text-align: center;
    margin-top: 20px;
}

.footer-links li{
    display: inline-block;
    margin-right: 10px;
}

.footer-links a{
    text-decoration: none;
    color: #fff;
}

.footer-icons{
    text-align: center;
    margin-top: 50px;
}

.footer-icons i{
    color: #05364d;
    font-size: 24px;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    margin-right: 20px;
    transition: all 0.3s ease-in;
}

.footer-icons i:hover{
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 0%);
    background-size: 198% auto;
    color: #fff;
}
    